<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Development Skills</title>
  </head>
  <body>
    <h1>My Development Skills</h1>
    <ul>
      <% skills.forEach(function(skill){ %>
      <li>
        <form action="/skills/<%=skill.id%>?_method=DELETE" method="POST">
          <button type="submit">&times;</button>
        </form>
        <a href="/skills/<%=skill.id%>"><%= skill.name %></a>
      </li>
      <%})%>
    </ul>

    <a href="/skills/new">Add a new skill</a>
  </body>
</html>
